<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>NUNetworking</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<style>
span {
	font-weight: 500;
	color: red;
	font-style: italic;
}
</style>
<body>
	<div class="container" style="margin-top: 50px;">
			<div class="container mt-5">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
				<div class="card">
					<div class="card-body">
						<h1 class="text-center mb-4">Post Job</h1>
						<form th:action="@{/PostJob}" th:object="${job}" method="post">
							<input type="hidden" th:field="*{job_id}" />

							<div class="form-group">
								<label for="company">Company:</label>
								<input type="text" th:field="*{company}" id="company" class="form-control" required />
							</div>

							<div class="form-group">
								<label for="jobDescription">Job Description:</label>
								<textarea th:field="*{jobDescription}" id="jobDescription" class="form-control" required></textarea>
							</div>

							<div class="form-group">
								<label for="skills_required">Skills Required:</label>
								<input type="text" name="skills_required" id="skills_required" class="form-control" value="" />
							</div>

							<button type="submit" class="btn btn-primary">Save Job</button>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>
