<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>NUNetworking</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text-center"> NU Networking </h1>
    <div class="container mt-7">
        <h1>Welcome, <span th:text="${studentUser.student.fName}"></span>!</h1>
        <div class="alert alert-success" th:if="${message}">
            <p th:text="${message}"></p>
        </div>
        <div class="mb-3">
            <a th:href="@{/downloadResume/{filename}(filename=${studentUser.resumeName})}" target="_blank"
                >View your resume</a>
        </div>
        <p>This is your home page.</p>

        <p>Skills:
            <span th:each="skill : ${studentUser.skills}" th:text="${skill} + ', '"></span>
        </p>
        <p>Positions Interested:
            <span th:each="position : ${studentUser.positionsInterested}" th:text="${position} + ', '"></span>
        </p>
        <p>LinkedIn: <a th:href="${studentUser.LinkedIn}" target="_blank" th:text="${studentUser.LinkedIn}"></a></p>

        <div class="row">
            <div class="col-md-2">
                <h3><a th:href="@{/updateStudent}" class="btn btn-secondary">Update</a></h3>
            </div>
            <div class="col-md-2">
                <h3><a th:href="@{/viewJobs}" class="btn btn-secondary">View Jobs</a></h3>
            </div>
            <div class="col-md-2">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" class="btn btn-danger"/>
                </form>
            </div>
        </div>
    </div>
    
</body>

</html>