<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student User Information</title>
   <link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Student Information</h1>

    <div class="row">
        <div class="col-md-6">
        
            <table class="table">
                <tr>
                    <td>Student ID:</td>
                    <td th:text="${studentUser.student.studentID}"></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td th:text="${studentUser.student.fName + ' ' + studentUser.student.lName}"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td th:text="${studentUser.student.Email}"></td>
                </tr>
                <tr>
                    <td>GPA:</td>
                    <td th:text="${studentUser.student.gpa}"></td>
                </tr>
                <tr>
                    <td>Degree:</td>
                    <td th:text="${studentUser.student.degree}"></td>
                </tr>
                <tr>
                    <td>Skills:</td>
                    <td th:text="${studentUser.skills}"></td>
                </tr>
                <tr>
                    <td>Positions Interested:</td>
                    <td th:text="${studentUser.positionsInterested}"></td>
                </tr>
                <tr>
                    <td>LinkedIn:</td>
                    <td th:text="${studentUser.LinkedIn}"></td>
                </tr>
            </table>
            <h3>Send Email</h3>
    <form method="post" action="/email">
        <div>
             <input type="hidden" id="toAddress" name="toAddress" th:value="${studentUser.student.Email}" required/>
        </div>
        <div>
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required/>
        </div>
        <div>
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
        </div>
        <div>
            <button type="submit">Send</button>
        </div>
    </form>
            
            
        </div> 
         <form th:action="@{/home}" method="get">
                <input type="submit" value="Back"/>
            </form>
     
        </div>
    </div>

